@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* dark mode? */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg {
  /* background-color: hsla(276, 100%, 50%, 0.76);
  background-image: radial-gradient(ellipse farthest-side at left top, hsla(276, 100%, 50%, 0.77) 0%, hsla(60, 100%, 50%, 0.69) 85%, hsla(276, 100%, 50%, 0.76) 120%); */
  border-bottom: 1px solid var(--color-gray-300);
}

html,
body {
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: none;
	overflow: scroll;
}