@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* dark mode? */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg {
  background-image: radial-gradient(at 43.39750602020263% 99.47579963605799%, hsla(37.87878787878788, 80.48780487804879%, 48.23529411764706%, 1) 0%, hsla(37.87878787878788, 80.48780487804879%, 48.23529411764706%, 0) 100%), radial-gradient(at 85.37567918426436% 57.73385442285587%, hsla(49.90654205607477, 84.251968503937%, 50.19607843137255%, 1) 0%, hsla(49.90654205607477, 84.251968503937%, 50.19607843137255%, 0) 100%), radial-gradient(at 67.2997035243869% 54.049014667125704%, hsla(17.926829268292682, 94.2528735632184%, 65.88235294117646%, 1) 0%, hsla(17.926829268292682, 94.2528735632184%, 65.88235294117646%, 0) 100%), radial-gradient(at 76.77990485507952% 90.40206768482494%, hsla(31.058823529411768, 100%, 50%, 1) 0%, hsla(31.058823529411768, 100%, 50%, 0) 100%), radial-gradient(at 99.24692221570545% 45.58001271194886%, hsla(37.87878787878788, 80.48780487804879%, 48.23529411764706%, 1) 0%, hsla(37.87878787878788, 80.48780487804879%, 48.23529411764706%, 0) 100%), radial-gradient(at 52.28957338712509% 12.066163706445899%, hsla(49.90654205607477, 84.251968503937%, 50.19607843137255%, 1) 0%, hsla(49.90654205607477, 84.251968503937%, 50.19607843137255%, 0) 100%), radial-gradient(at 7.91033943455044% 92.1719063397471%, hsla(17.926829268292682, 94.2528735632184%, 65.88235294117646%, 1) 0%, hsla(17.926829268292682, 94.2528735632184%, 65.88235294117646%, 0) 100%), radial-gradient(at 34.40563853844646% 15.2499026494467%, hsla(31.058823529411768, 100%, 50%, 1) 0%, hsla(31.058823529411768, 100%, 50%, 0) 100%), radial-gradient(at 42.29954995611617% 22.894057241116528%, hsla(37.87878787878788, 80.48780487804879%, 48.23529411764706%, 1) 0%, hsla(37.87878787878788, 80.48780487804879%, 48.23529411764706%, 0) 100%), radial-gradient(at 81.44266038341316% 29.855916457349018%, hsla(49.90654205607477, 84.251968503937%, 50.19607843137255%, 1) 0%, hsla(49.90654205607477, 84.251968503937%, 50.19607843137255%, 0) 100%);
}